section {
    &.single-project-section {
        .single-content {
            .share-box {
                ul.social-icons {
                    float: left;
                }
            }
        }
    }
}